.parent{
    background-color: #333;
    display: flex;
    width: 500px;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
}
.item{
    background-color: #afafaf;
    min-width: 100px;
    height: 100px;
    margin-right:4px ;
}